#map-section{
    background-image: url('../../Images/map2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    /* margin-left: 110px; */
    /* background-position-x:100px; */
}