#back-to-top:hover #up-arrow  {
    width: 30px ;
    margin-bottom: 10px;
    transition: all 0.5s ease-in;
}
#want-to-contact:hover #arrow-right  {
    width: 150px ;
    transition: all 0.5s ease-in;
}

